// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

@font-face {
  font-family: 'San Francisco';
  src: url(../assets/fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'San Francisco';
  src: url(../assets/fonts/SF-Pro-Display-Bold.otf);
  font-weight: 600;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'San Francisco';
  src: url(../assets/fonts/SF-Pro-Display-Heavy.otf);
  font-weight: 700;
  unicode-range: U+000-5FF;
}

* {
	font-family: 'San Francisco';
}

ion-title, h1 {
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h1, h2 {
  margin-left: 20px;
  margin-right: 20px;
}

ion-card-title {
	font-weight: 600;
}

ion-label, ion-text {
  font-family: 'San Francisco' !important;
}

#intext p, h3, li {
  margin-left: 20px;
  margin-right: 20px;
}
