// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

@font-face {
  font-family: 'San Francisco';
  src: url(../fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'San Francisco';
  src: url(../fonts/SF-Pro-Display-Bold.otf);
  font-weight: 600;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'San Francisco';
  src: url(../fonts/SF-Pro-Display-Heavy.otf);
  font-weight: 700;
  unicode-range: U+000-5FF;
}

* {
  font-family: 'San Francisco';
}

ion-title, h1 {
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h1, h2 {
  margin-left: 20px;
  margin-right: 20px;
}

ion-card-title {
  font-weight: 600;
}

ion-label, ion-text {
  font-family: 'San Francisco' !important;
}

#intext p, h3, li {
  margin-left: 20px;
  margin-right: 20px;
}

body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: rgb(0,0,0);
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: rgb(255,255,255);
  --ion-color-step-50: #000000;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
}