<ion-header>
  <ion-toolbar>
    <!-- Back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'classes.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let class of classes" (click)="switchClass(classes.indexOf(class))">
      <ion-label>
        <div id="classIdentifier">{{class.class}}</div>
        <div id="classInfo">
          <div stacked>{{class.year}}</div>
          <div stacked>{{class.classmaster}}</div>
          <div stacked class="ion-text-wrap">{{class.school_name}}</div>
        </div>
      </ion-label>
      <!--<ion-icon item-right style="float:right;" name="checkmark" color="success" *ngIf="classes.indexOf(class) === currentClass"></ion-icon>-->
    </ion-item>
  </ion-list>
</ion-content>
