<ion-header>
  <ion-toolbar>
    <!-- Back button -->
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{ 'classes.close' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'classes.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let class of classes" (click)="switchClass(classes.indexOf(class))">
      <ion-note id="classIdentifier" color="dark">{{class.class_id}}</ion-note>
      <ion-label id="classInfo">
        <div>{{class.class_year}}</div>
        <!-- <div>{{class.classmaster}}</div> -->
        <div class="ion-text-wrap">{{class.school_name}}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
