<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'tab4.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-center [@fadeInOut] *ngIf="absences.overview.sum == 0" lines="none" id="cntr">
    <ion-label>
      <object width="150" type="image/svg+xml" data="./assets/emoji/thumbsup.svg"></object>
      <h1 id="netHeader" text-wrap>{{ 'tab4.text.noabsences' | translate }}</h1>
    </ion-label>
  </ion-item>
  <ion-list lines="full" *ngIf="absences.full[0].date">
    <ng-container *ngFor="let absObj of absences.full">
      <ion-list-header [@fadeInOut]>
        <ion-label>{{ absObj.date }}</ion-label>
      </ion-list-header>
      <ion-item [@fadeInOut] *ngFor="let mcl of absObj.absences">
        <ion-label>
          <div class="number">
            {{mcl.period}}
          </div>
          <div class="subject" text-wrap>
            {{mcl.subject}}
          </div>
          <div class="reason" text-wrap>
            {{mcl.reason}}
          </div>
        </ion-label>
        <ion-icon item-right name="checkmark" *ngIf="mcl.justified"></ion-icon>
        <ion-icon item-right name="close" *ngIf="!mcl.justified"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
