<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'tab4.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [@fadeInOut] *ngIf="absences.overview.sum > 0" id="wrapper">
    <div id="flexItem">
      <ion-text id="descText">
        {{ 'tab4.text.justified' | translate }}
      </ion-text><br/>
      <ion-label id="infoText">
        {{ absences.overview.justified }}
      </ion-label>
    </div>
    <div id="flexItem">
      <ion-text id="descText">
        {{ 'tab4.text.unjustified' | translate }}
      </ion-text><br/>
      <ion-label id="infoText">
        {{ absences.overview.unjustified }}
      </ion-label>
    </div>
    <div id="flexItem" *ngIf="absences.overview.waiting > 0">
      <ion-text id="descText">
        {{ 'tab4.text.waiting' | translate }}
      </ion-text><br/>
      <ion-label id="infoText">
        {{ absences.overview.waiting }}
      </ion-label>
    </div>
    <div id="flexItem">
      <ion-text id="descText">
        {{ 'tab4.text.sum' | translate }}
      </ion-text><br/>
      <ion-label id="infoText">
        {{ absences.overview.sum }}
      </ion-label>
    </div>
  </ion-item>
  <ion-item text-center [@fadeInOut] *ngIf="absences.overview.sum == 0" lines="none" id="cntr">
    <ion-label>
      <object width="150" type="image/svg+xml" data="./assets/emoji/thumbsup.svg"></object>
      <h1 id="netHeader" text-wrap>{{ 'tab4.text.noabsences' | translate }}</h1>
    </ion-label>
  </ion-item>
  <ion-list lines="full" *ngIf="absences.full[0].date">
    <ng-container *ngFor="let absObj of absences.full">
      <ion-list-header [@fadeInOut]>
        <ion-label>{{ absObj.date }}</ion-label>
      </ion-list-header>
      <ion-item [@fadeInOut] *ngFor="let mcl of absObj.absences">
        <ion-label>
          <div class="number">
            {{mcl.period}}
          </div>
          <div class="subject" text-wrap>
            {{mcl.subject}}
          </div>
          <div class="reason" text-wrap>
            {{mcl.reason}}
          </div>
        </ion-label>
        <ion-icon item-right name="checkmark" *ngIf="mcl.justified"></ion-icon>
        <ion-icon item-right name="close" *ngIf="!mcl.justified"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
