<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'tab4.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-center [@fadeInOut] *ngIf="absences.overview.sum == 0" lines="none" id="cntr">
    <ion-label>
      <object width="150" type="image/svg+xml" data="./assets/emoji/thumbsup.svg"></object>
      <h1 id="netHeader" text-wrap>{{ 'tab4.text.noabsences' | translate }}</h1>
    </ion-label>
  </ion-item>
  <canvas #absenceCanvas *ngIf="absences.overview.sum != 0"></canvas>
</ion-content>
