<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
  	</ion-buttons>
    <ion-title>{{ 'overview.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-text>
		<h1>{{subject.name}}</h1>
	</ion-text>
	<ion-text>
		<h2>{{subject.professors}}</h2>
	</ion-text>
	<ion-list lines="inset">
		<ion-item lines="full">
			<ion-label text-left>{{ 'overview.text.average' | translate }}</ion-label>
			<ion-label item-right text-right style="font-weight: 600;">{{subject.average}}</ion-label>
		</ion-item>
	</ion-list>
	<ion-list lines="full" *ngIf="subject.grades.length > 0">
    <ion-list-header>
      <ion-label>{{ 'overview.text.grades' | translate }}</ion-label>
    </ion-list-header>
		<ion-item *ngFor="let grInput of subject.grades">
			<ion-label>
				<div class="mark">
					{{grInput.grade}}
				</div>
				<div class="description" text-wrap>
					{{grInput.note}}
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
  <ion-list lines="full" *ngIf="subject.notes.length > 0">
    <ion-list-header>
      <ion-label>{{ 'overview.text.notes' | translate }}</ion-label>
    </ion-list-header>
		<ion-item *ngFor="let noteObj of subject.notes">
			<ion-label>
				<div text-wrap>
					{{ noteObj.note }}
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
