<ion-header>
	<ion-toolbar>
		<!-- Back button -->
  		<ion-buttons slot="start">
  			<ion-back-button></ion-back-button>
  		</ion-buttons>
		<ion-title>{{ 'overview.title' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- HEADER -->
	<ion-text>
		<!-- Subject name -->
		<h1>{{subject.name}}</h1>
	</ion-text>
	<ion-text>
		<!-- Full list of subject professors -->
		<h2 id="profList">{{subject.professors}}</h2>
	</ion-text>

	<!-- SUB-HEADER -->
	<!-- List containing 1 item -->
	<ion-list lines="inset" *ngIf="subject.grades.length > 0">
		<ion-item lines="full">
			<!-- Translated text "Average" -->
			<ion-label class="ion-text-left">{{ 'overview.text.average' | translate }}</ion-label>
			<!-- Subject average -->
			<ion-label class="ion-text-right" style="font-weight: 600;">{{subject.average}}</ion-label>
		</ion-item>
	</ion-list>

	<!-- GRADE LIST (if grades are available) -->
	<ion-list lines="full" *ngIf="subject.grades.length > 0">
		<!-- HEADER: Grades -->
		<ion-list-header>
			<ion-label>{{ 'overview.text.grades' | translate }}</ion-label>
		</ion-list-header>
		<!-- <ion-item> for every grade object, containing the date, note and grade -->
		<ion-item *ngFor="let gradeObject of subject.grades">
			<ion-label>
				<div class="date">
					{{convertToReadableDate(gradeObject.date)}}
				</div>
				<!-- Grade, shown to the left -->
				<div class="mark">
					{{gradeObject.grade}}
				</div>
				<!-- Note, shown to the right -->
				<div class="description" class="ion-text-wrap">
					{{gradeObject.note}}
				</div>
			</ion-label>
		</ion-item>
	</ion-list>

	<!-- NOTE LIST (if notes are available) -->
	<ion-list lines="full" *ngIf="subject.notes.length > 0">
		<!-- HEADER: Notes -->
		<ion-list-header>
			<ion-label>{{ 'overview.text.notes' | translate }}</ion-label>
		</ion-list-header>
		<!-- <ion-item> for every note -->
		<ion-item *ngFor="let noteObj of subject.notes">
			<!-- Note, shown as a simple list item -->
			<ion-label>
				<div class="date">
					{{convertToReadableDate(noteObj.date)}}
				</div>
				<div class="ion-text-wrap">
					{{ noteObj.note }}
				</div>
			</ion-label>
		</ion-item>
	</ion-list>

	<!-- TEST LIST (if tests are available for this subject) -->
	<ion-list lines="full" *ngIf="tests.length > 0">
		<!-- HEADER: Notes -->
		<ion-list-header>
			<ion-label>{{ 'overview.text.tests' | translate }}</ion-label>
		</ion-list-header>
		<ion-item *ngFor="let testObj of tests">
			<ion-label>
				<!-- Test name -->
				<h2 id="testName" class="ion-text-wrap">{{ testObj.test }}</h2>
				<!-- Test date -->
				<h3 id="testDate">{{ convertToReadableDate(testObj.date) }}</h3>
				<!-- School subject for which the test is for -->
				<ion-note id="testSubject">{{ testObj.subject }}</ion-note>
			</ion-label>
			<ion-note id="remaining" color="dark">
				{{ calculateRemainingTime(testObj.date) }}
			</ion-note>
		</ion-item>
	</ion-list>
</ion-content>
