#average {
	font-weight: 600;
}

.mark {
	font-weight: 700;
	font-size: 29px;
	float: left;
	margin-left: 0px;
	margin-right: 16px;
	min-width: 20px !important;
	text-align: center;
}

.date {
    font-size: 12px;
    margin-bottom: 5px;
    color: darkgrey;
}

.description {
    display: flex;
}

ion-list {
	margin-top: 20px;
}
