.number {
	font-weight: 700;
	font-size: 29px;
	float: left;
	margin-left: 0px;
	margin-right: 16px;
  min-width: 30px !important;
	line-height: 150%;
}

.subject {
  top: 0;
  height: 100%;
	font-weight: 600;
}
