<ion-header>
</ion-header>

<ion-content>
	<!-- HEADER: App name and description -->
	<div id="headerContainer">
		<ion-item lines="none" id="loginHeader">
			<ion-label>
				<h1 id="appName">Netrix</h1>
				<h2 id="appDescription">{{ 'login.text.appdesc' | translate }}</h2>
			</ion-label>
		</ion-item>
	</div>

	<!-- Login form -->
	<div id="loginPage">
		<form>
			<ion-list lines="full" id="loginForm">
				<!-- Username -->
				<ion-item>
					<ion-label position="stacked">{{ 'login.text.holder_user' | translate }}</ion-label>
					<ion-input required type="text" [(ngModel)]="loUsername" name="user"></ion-input>
				</ion-item>
				<!-- Password -->
				<ion-item>
					<ion-label position="stacked">{{ 'login.text.holder_pass' | translate }}</ion-label>
					<ion-input required type="password" [(ngModel)]="loPassword" name="passw"></ion-input>
				</ion-item>
			</ion-list>
			<!-- Login button-->
			<ion-button id="loginButton" (click)="login()" type="submit"> 
				<div *ngIf="!isLoading">{{ 'login.text.login' | translate }}</div>
				<div *ngIf="isLoading"><ion-spinner name="crescent"></ion-spinner></div>
			</ion-button>
		</form>
		<!-- Additional buttons -->
		<div id="addonButtons">
			<!-- Privacy policy -->
			<ion-button fill="clear" id="privacyButton" routerLink="/privacy" routerDirection="forward">
				{{ 'login.text.privacy' | translate }}
			</ion-button>
		</div>
	</div>
</ion-content>
