#appName {
  font-weight: 700;
  font-size: 58px;
}

#headerContainer {
  margin-top: 8px;
  margin-bottom: 8px;
}

#appName {
  background: linear-gradient(-45deg, #8a2387, #e94057, #f27121);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#loginButton {
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}
	
#loginPage {
  flex-grow: 1;
  height: 100%;
}
	
ion-content {
  display: flex;
  flex-direction: column;
  --overflow: hidden;
}
	
ion-content > * {
  flex-shrink: 0;
}

#addonButtons {
  float: left;
}

#loginForm {
  margin-bottom: 18px !important;
}