<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'tab2.title' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar (ionInput)="searchHandler($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>{{ 'tab2.showall' | translate }}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="showAllPreference"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-item text-center [@fadeInOut] *ngIf="currentTests == 0 && showAllPreference == false" lines="none">
    <ion-label>
      <h1 id="netHeroImage">👍</h1>
      <h1 id="netHeader" text-wrap>{{ 'tab2.notests' | translate }}</h1>
    </ion-label>
  </ion-item>
  <ion-list lines="full">
    <ng-container *ngFor="let testObj of results">
      <ion-item [@fadeInOut] *ngIf="testObj.current || showAllPreference">
        <ion-label>
          <h2 text-wrap>{{ testObj.test }}</h2>
          <h3>{{ testObj.date }}</h3>
          <ion-note>{{ testObj.subject }}</ion-note>
        </ion-label>
        <ion-icon item-right name="checkmark" *ngIf="!testObj.current"></ion-icon>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
