<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'tab2.title' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar (ionInput)="searchHandler($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Show all switch -->
  <!--<ion-list lines="full">
    <ion-item *ngIf="!noItemsLoaded && !dbError">
      <ion-label>{{ 'tab2.showall' | translate }}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="showAllPreference" (click)="redoList()"></ion-toggle>
    </ion-item>
  </ion-list>-->

  <!-- List of exams -->
  <ion-virtual-scroll lines="full" [items]="results" approxItemHeight="82px" *ngIf="results.length > 0">
    <!--<ng-container *virtualItem="let testObj;">-->
      <ion-item [@fadeInOut] *virtualItem="let testObj">
        <ion-label>
          <h2 id="testName" text-wrap>{{ testObj.test }}</h2>
          <h3 id="testDate">{{ testObj.date }}</h3>
          <ion-note id="testSubject">{{ testObj.subject }}</ion-note>
        </ion-label>
        <ion-icon item-right name="checkmark" *ngIf="!testObj.current"></ion-icon>
      </ion-item>
    <!--</ng-container>-->
  </ion-virtual-scroll>

  <ion-item text-center [@fadeInOut] *ngIf="currentTests == 0 && showAllPreference == false" lines="none" id="cntr">
    <ion-label>
      <object width="150" type="image/svg+xml" data="./assets/emoji/thumbsup.svg"></object>
      <h1 id="netHeader" text-wrap>{{ 'tab2.notests' | translate }}</h1>
    </ion-label>
  </ion-item>
</ion-content>
