#testName {
  font-weight: 600;
}

h1 {
  font-weight: 700 !important;
  font-size: 40px;
}

#cntr {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#netHeader {
  font-weight: 700 !important;
  font-size: 35px;
}

#remaining {
  font-weight: 600;
  font-size: 23px;
}