<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'tab3.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button routerLink="/settings/api" routerDirection="forward">
      <ion-label>{{ 'tab3.text.settings.api' | translate }}</ion-label>
    </ion-item>
    <ion-item button routerLink="/settings/lang" routerDirection="forward">
      <ion-label>{{ 'tab3.text.settings.lang' | translate }}</ion-label>
    </ion-item>
  </ion-list>
	<ion-list>
    <ion-item button (click)="logout()">
      <ion-label>{{ 'tab3.text.logout' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
