#title h3 {
  font-weight: 600;
  font-size: 20px;
}

#avgLabel {
  max-width: 20px !important;
}

#average {
  float: right;
  line-height: 100%;
  font-weight: 700;
	font-size: 29px;
}

#cntr {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#netHeader {
  font-weight: 700 !important;
  font-size: 40px;
}
