#title h3 {
  font-weight: 600;
  font-size: 20px;
}

#average {
  float: right;
  line-height: 100%;
  font-weight: 700;
	font-size: 29px;
}

#cntr {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#netHeader {
  font-weight: 700 !important;
  font-size: 40px;
}

#preWholeAvgText {
  font-size: 12px;
  padding-top: 8px;
}

#wholeAvgText {
  font-size: 38px;
  font-weight: 700 !important;
  margin-top: 0px;
}

#wrapper {
  display: flex;
  /* Fix incorrect padding, causing top bar to be slightly off center */
  --inner-padding-end: 0px;
  --padding-start:0px
}

#flexItem {
  flex: 1;
  text-align: center;
}

#descText {
  font-size: 12px;
  padding-top: 8px;
}

#infoText {
  font-size: 38px;
  font-weight: 700 !important;
  margin-top: 0px;
}

#warning-icon {
  margin-right: 8px;
}