ion-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

#title h3 {
  font-weight: 600;
  font-size: 20px;
}

#avgLabel {
  max-width: 20px !important;
}

#average {
  float: right;
  line-height: 100%;
  font-weight: 700;
	font-size: 29px;
}
