<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'tab1.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [@fadeInOut] *ngIf="!dbError && !noItemsLoaded">
    <ion-text id="preWholeAvgText" position="stacked">
      {{ 'tab1.text.average' | translate }}
    </ion-text>
    <ion-label id="wholeAvgText" position="stacked" [countUp]="fullAvg" [options]="{decimalPlaces: 2,duration: 1}">
      0.00
    </ion-label>
  </ion-item>
  <ion-list lines="full">
    <ion-item [@fadeInOut] button *ngFor="let subject of subjects" routerLink="/subj-overview/{{subject.id}}" routerDirection="forward">
      <ion-label>
        <div id="title" stacked>
          <h3>{{subject.subject}}</h3>
          <ion-note text-wrap>{{subject.professors}}</ion-note>
        </div>
      </ion-label>
      <ion-text item-right text-right>
        <div id="average">{{subject.average}}</div>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
