<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
  		<ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
  	</ion-buttons>
    <ion-title>lang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button *ngFor="let langObj of languages" (click)="select(langObj.value)" detail="false">
      <ion-label>{{ langObj.text }}</ion-label>
      <ion-icon slot="end" name="checkmark" *ngIf="langObj.value == selectedLang"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
