#spinner {
  text-align: center;
  margin-top: 10px;
}

.mark {
  font-weight: 700;
  font-size: 32px;
  float: left;
  margin-left: 0px;
  margin-right: 12px;
  min-width: 20px !important;
  text-align: center;
}

.date {
  font-size: 12px;
  margin-bottom: 5px;
  color: var(--ion-color-step-600);
}

.description {
  display: flex;
}

#descText {
  font-size: 12px;
  padding-top: 8px;
}

#infoText {
  font-size: 38px;
  font-weight: 700 !important;
  margin-top: 0px;
}

#wrapper {
  display: flex;
  /* Fix incorrect padding, causing top bar to be slightly off center */
  --inner-padding-end: 0px;
  --padding-start:0px
}

#flexItem {
  flex: 1;
  text-align: center;
}